
<div class="footer-seom">
  <div class="footer-line logoline">
    <%= image_tag "images/fundacionseom.png", class: "footer1image"%>
    <%= image_tag "images/e-oncologiawhite.png", class: "footer2image"%>
    <%= image_tag "images/seomwhite.png", class: "footer1image"%>
  </div>
  <br><br>
<div class="footer-line">
  <p><i class="fa fa-phone"></i>   93 260 72 98 </p>
  <% link_to "mailto:certificacionseom@e-oncologia.org"do %><i class="fa fa-envelope"></i> <%= "certificacionseom@e-oncologia.org"%><% end %>
<br>
  <p id= "aviso-legal">Aviso legal</p>
  <br>
  <p id= "requisitos-minimos">Requisitos mínimos</p>
  </div>
  <br>
</div>
