
<div class="lightbox" id="form-lightbox">
  <div class="white-box">
    <div id="bienvenido">
      <p>Bienvenido a e-oncología</p>
    </div>
    <div class="login">
      <form action="https://www.aulaeoncologia.org/srm/check_login.php " method="post" name="form" id="form">
        <div class="form-item">
         <p>Correo electrónico</p>
         <p><input class="form-input" type="text" name="username" size="15" /></p>
       </div>
       <div class="form-item">
         <p>Contraseña</p>
         <p><input class="form-input" type="password" name="password" size="15" /></p>
       </div>
       <p><input class="btn-home btn-login" type="submit" name="Submit" value="Login" /></p>
     </form>
     <button class="btn-cancel">Cancelar</button>
   </div>
 </div>
</div>
