<div class="navbarxs">
<div class="navbarseom">

  <div class="navbar-left">
    <%= image_tag "https://amandaorbe.github.io/seom/", class: "navbarxsimage"%>
    <%= image_tag "https://amandaorbe.github.io/seom/", class: "navbarxsimage"%>
  </div>
  <div class="navbar-right">
    <button class="btn-navbar">Acceso </button>
  </div>
  </div>
</div>
