<div class="navbarxs">
<div class="navbarseom">

  <div class="navbar-left">
    <% link_to 'https://amandaorbe.github.io/seom/' do %>
        <%= image_tag 'mastere-oncologia.png', class: "navbarxsimage" %>
      <% end %>
      <% link_to 'https://amandaorbe.github.io/seom/' do %>
        <%= image_tag 'certificacionseom.png', class: "navbarxsimage" %>
      <% end %>
  </div>
  <div class="navbar-right">
    <button class="btn-navbar">Acceso </button>
  </div>
  </div>
</div>
