<div class="navbarsm">
  <div class="navbarseom">
    <div class="navbar-left">
      <% link_to 'http://seom.e-oncologia.org/' do %>
        <%= image_tag 'mastere-oncologia.png', class: "navbar1image" %>
      <% end %>
    </div>
    <div class="navbar-right">
      <button class="btn-navbar">Acceso al campus virtual</button>
    </div>
  </div>
</div>
