<div class="navbarxs">
<div class="navbarseom">

  <div class="navbar-left">
    <%= image_tag "images/mastere-oncologia.png", class: "navbarxsimage"%>
    <%= image_tag "images/certificacionseom.png", class: "navbarxsimage"%>
  </div>
  <div class="navbar-right">
    <button class="btn-navbar">Acceso </button>
  </div>
  </div>
</div>
