<div class="navbarseom">
  <div class="navbar-left">
    <%= image_tag "images/mastere-oncologia.png", class: "navbar1image"%>
    <%= image_tag "images/certificacionseom.png", class: "navbar1image"%>
  </div>
  <div class="navbar-right">
    <%= link_to "Acceso al campus virtual", "form.html" , class: " btn-navbar" %>
  </div>
</div>
