---
title: Le Wagon - Middleman
---

<div class="titles">
  <h1>MÁSTER EN ONCOLOGÍA MÉDICA:
    CERTIFICACIÓN SEOM
  </h1>
  <p>La Certificación SEOM es una iniciativa de la Sociedad Española de Oncología Médica (SEOM) que ofrece un programa de formación on-line completo en Oncología Médica, que complementa la adquisición de conocimientos que se adquiere en los hospitales como parte del programa MIR. La Certificación SEOM se hace en asociación con e-oncología y tiene dos itinerarios:</p>
  <br>
</div>
<div class="boxes">
  <% link_to "/seom-postgrado.html" do %>
  <div class="index-box document-card">
    <h2>MASTER EN ONCOLOGÍA MÉDICA </h2>
    <h4>Para residentes y adjuntos jóvenes </h4>
    <p>Dirigido a médicos residentes de Oncología Médica o adjuntos jóvenes que hayan finalizado en los dos años anteriores al inicio del curso académico. También lo pueden cursar otros especialistas interesados en la materia.</p>
  </div>
  <% end %>
  <% link_to "/seom-especialistas.html"  do %>
  <div class="index-box document-card">
    <h2>CURSOS INDIVIDUALES DE FORMACIÓN MÉDICA CONTINUADA </h2>
    <h4>Para especialistas </h4>
    <p> Dirigido a médicos especialistas de Oncología Médica. También los pueden cursar otros especialistas interesados en la materia. Cursos acreditados por el Sistema Nacional de Salud (SNS) como formación médica continuada. </p>
  </div>
  <% end %>
</div>





