

<div class="titles">
  <h1>MÁSTER EN ONCOLOGÍA MÉDICA:
    CERTIFICACIÓN SEOM
  </h1>
  <p>La Certificación SEOM es una iniciativa de la Sociedad Española de Oncología Médica (SEOM) que ofrece un programa de formación on-line completo en Oncología Médica. La Certificación SEOM se hace en asociación con e-oncología y tiene dos itinerarios:</p>
  <br>
</div>
<div class="boxes">
  <% link_to "/seom-postgrado.html" do %>
  <div class="index-box document-card">
    <h2>MÁSTER EN ONCOLOGÍA MÉDICA </h2>
    <h4>Para residentes y adjuntos jóvenes </h4>
    <p>Dirigido a socios adheridos permanentes o socios numerarios de la SEOM, en particular a los residentes de 3er, 4º y 5º años y a los especialistas jóvenes de Oncología Médica</p>
  </div>
  <% end %>
  <% link_to "/seom-especialistas.html"  do %>
  <div class="index-box document-card">
    <h2>CURSOS INDIVIDUALES DE FORMACIÓN MÉDICA CONTINUADA </h2>
    <h4>Para especialistas </h4>
    <p> Dirigido a médicos especialistas de Oncología Médica. </p>
  </div>
  <% end %>
</div>





