
<div class="titles">
  <h1>CURSOS INDIVIDUALES DE FORMACIÓN MÉDICA CONTINUADA </h1>
  <br>
  <p>La Certificación SEOM - Máster en Oncología Médica cuenta con la acreditación universitaria de la Universitat de Girona (60 créditos) y está adaptada al Plan Bolonia.

    Los profesores y autores de los contenidos han sido seleccionados por la SEOM entre los mejores especialistas de cada uno de sus ámbitos y e-oncología ha liderado la coordinación académica y científica de los contenidos, así como el soporte pedagógico y tecnológico del campus virtual.
  </p>
</div>

<div class="especialistas">
  <h3>CATÁLOGO DE CURSOS</h3>
  <br>
  <div class="cards">
    <div class="row">
      <% data.cursos.each do |programa, detalle| %>
        <div class="col-xs-12 col-sm-6  col-md-4">
          <div class="curso-card">
            <div class="curso-title">
              <%= link_to programa.upcase , "" , class: " lista titulos-lista", id: programa %>
            </div>
            <div class="curso-text">
              <p><%=detalle.presentacion%></p>
            </div>
            <div class="curso-cta">
              <%= link_to "Inscríbete", "form.html" , class: " btn-home centered" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


<br>

<br>
<br>
<br>



