
<div class="titles">
  <h1>CURSOS INDIVIDUALES DE FORMACIÓN MÉDICA CONTINUADA </h1>
  <br>
  <p>El Máster SEOM también ofrece la posibilidad de realizar de forma individual uno o varios de los cursos de formación.
   <br>
   <br>
El itinerario formativo individual consiste en la actualización de los especialistas de Oncología Médica mediante los Cursos Individuales de Formación, aunque también pueden realizarlos otros especialistas que estén interesados en los mismos. Cada curso individual está acreditado por la Comisión de Formación Continuada del Sistema Nacional de Salud (créditos SNS) y se debe completar en un curso académico.

  </p>
</div>

<div class="especialistas">
  <h3>CATÁLOGO DE CURSOS </h3>
  <br>
  <div class="cards">
    <div class="row">
      <%cursos_ordenados = ['biologiamolecular',
        'epidemiologia-y-prevencion',
        'estadisticas-oncologos',
        'farmacologia-clinica-oncologica',
        'consejo-genetico-en-cancer',
        'medicina-personalizada-precision',
        'inmunooncologia',
        'investigacion-clinica-en-oncologia',
        'cancer-de-pulmon',
        'cancer-gastrointestinal',
        'cancer-de-mama',
        'tumores-ginecologicos',
        'cancer-prostata',
        'tumores-genito-urinarios',
        'cabeza-y-cuello',
        'cancer-de-tiroides',
        'tumores-neuroendocrinos',
        'sarcoma',
        'linfomas-y-mieloma',
        'melanoma',
        'tumores-snc',
        'tumores-de-origen-desconocido',
        'cuidados-continuos',
        'etv',
        'oncogeriatria',
        'urgencias-en-oncologia',
        'habilidades-comunicativas'] %>
      <%cursos_ordenados.each do |curso_ordenado|%>
        <div class="col-xs-12 col-sm-6  col-md-4">
          <div class="card-space">

            <% link_to "/#{data.courses[curso_ordenado].first[1].slug}.html" do %>
              <div class="curso-card document-card">
                <div class="imagen-card-frame">
                  <%= image_tag data.courses[curso_ordenado].first[1].imagen,  class: "imagen-card" %>
                </div>
                <div class="curso-title">
                  <h3 class=" lista titulos-lista"><%= data.courses[curso_ordenado].first[1].titulo%></h3>
                </div>
                <div class="curso-text">

                  <p><%=data.courses[curso_ordenado].first[1].intro%></p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


<br>

<br>
<br>
<br>



