
<div class="titles">
  <h1>CURSOS INDIVIDUALES DE FORMACIÓN MÉDICA CONTINUADA </h1>
  <br>
  <p>La Certificación SEOM - Máster en Oncología Médica cuenta con la acreditación universitaria de la Universitat de Girona (60 créditos) y está adaptada al Plan Bolonia.

    Los profesores y autores de los contenidos han sido seleccionados por la SEOM entre los mejores especialistas de cada uno de sus ámbitos y e-oncología ha liderado la coordinación académica y científica de los contenidos, así como el soporte pedagógico y tecnológico del campus virtual.
  </p>
</div>

<div class="especialistas">
  <h3>CATÁLOGO DE CURSOS </h3>
  <br>
  <div class="cards">
    <div class="row">
      <%data.courses.each do |curso|%>
        <div class="col-xs-12 col-sm-6  col-md-4">
          <div class="card-space">
            <% link_to "/#{curso[0]}.html" do %>
              <div class="curso-card document-card">
                <div class="imagen-card-frame">
                  <%= image_tag curso[1].first[1].imagen,  class: "imagen-card" %>
                </div>
                <div class="curso-title">
                  <h3 class=" lista titulos-lista"><%= curso[1].first[1].titulo%></h3>
                </div>
                <div class="curso-text">

                  <p><%=curso[1].first[1].intro%></p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


<br>

<br>
<br>
<br>



