
<div class="titles">
  <h1>CURSOS INDIVIDUALES DE FORMACIÓN MÉDICA CONTINUADA </h1>
<br>
  <p>La Certificación SEOM - Máster en Oncología Médica cuenta con la acreditación universitaria de la Universitat de Girona (60 créditos) y está adaptada al Plan Bolonia.

    Los profesores y autores de los contenidos han sido seleccionados por la SEOM entre los mejores especialistas de cada uno de sus ámbitos y e-oncología ha liderado la coordinación académica y científica de los contenidos, así como el soporte pedagógico y tecnológico del campus virtual.
  </p>
</div>
  <div class="tab-content">

    <h3>PLAN DE ESTUDIOS</h3><div class="lista-cursos tab-text">
  <% data.cursos.each do |programa, detalle| %>
  <%= link_to programa.upcase , "#" , class: " lista " %>
  <% end %>
  </div>

       </div>
       <br>
  </div>
  <br>
  <br>
  <br>



