<br>
<h3>CALENDARIO</h3>
<div class="tab-text list-no-deco"><p>El Máster en Oncología Médica es el itinerario formativo completo de la Certificación SEOM, está dirigido especialmente a residentes y especialistas jóvenes de Oncología Médica, pero también puede ser cursado por otros especialistas. El Máster complementa la adquisición de conocimientos que se adquiere en los hospitales como parte del programa MIR.

Si el alumno es socio de la SEOM puede solicitar una de las becas de formación a la Sociedad Española de Oncología Médica.</p>
  <ul>
    <li><b>Preinscripción y Matrícula:</b> Noviembre 2017.</li>
    <li>El curso académico 2018-2019 se inicia el 15 de Noviembre de 2017 hasta 15 de Noviembre 2018.</li>
    <li><b>Número total de créditos obligatorios:</b> 60 ECTS (European Transfer Credit System).</li>
    <li><b>Número total de horas:</b> 1500 horas.</li>
    <li>El programa completo se debe completar en un máximo de 3 cursos académicos para obtener la titulación.</li>
  </ul>

</div>
