<h3>OBJETIVO DEL MÁSTER EN ONCOLOGÍA MÉDICA</h3>
<div class="tab-text"><p>El objetivo del Máster en Oncología Médica ofrece diversos módulos on-line sobre diferentes patologías o temas relacionados con la profesión. El programa abarca los aspectos más importantes para la formación integrada de la Oncología Médica, desde la epidemiología e investigación, hasta el diagnóstico y tratamiento de diferentes tipos de cáncer.

Los alumnos adquieren conocimientos mediante la lectura de los materiales teóricos, la bibliografía asociada, la realización de exámenes de autoevaluación, el estudio de casos clínicos y las consultas con el tutor de cada módulo.</p>
</div>
