<br>
<h3>OBJETIVO DEL MÁSTER EN ONCOLOGÍA MÉDICA</h3>
<div class="tab-text">
  <ul>
    <li>Adquirir los conocimientos sobre los principios básicos de la Biología, epidemiología y farmacología clínica aplicados a la práctica de la oncología médica.
</li>
    <li>Adquirir los conocimientos básicos sobre el manejo general del paciente con cáncer: Cuidados continuos, comunicación y tratamiento de las urgencias.
</li>
    <li>Aplicar las mejores opciones de diagnóstico y tratamiento a los pacientes con diferentes tipos de tumores.
</li>
  </ul>
</div>
