<h3>DIPLOMA DE POSTGRADO EN ONCOLOGÍA MÉDICA (SEOM) </h3>
<div class="tab-text"><p>La Sociedad Española de Oncología Médica (SEOM) inició en 2010 la Certificación SEOM–Diploma de Postgrado en Oncología Médica, un itinerario formativo completo de tres años de duración que estaba dirigido a residentes en Oncología Médica y especialistas jóvenes.</p></div>
<h3>MÁSTER EN ONCOLOGÍA MÉDICA</h3>
<div class="tab-text">
<p>Desde septiembre 2016 este Diploma pasa a ser un Máster de Oncología Médica. A este nuevo curso académico se están incorporando módulos nuevos sobre Cáncer de Tiroides, InmunoOncología, Investigación Clínica en Oncología, entre otros, y se están actualizado lo módulos ya existentes. Por ello esta nueva edición constará de 25 cursos modulares que otorgarán 60 créditos ECTS, lo que corresponde a 1.500 horas lectivas.
Los alumnos adquieren conocimientos mediante la lectura de los materiales teóricos, la bibliografía asociada, la realización de exámenes de autoevaluación, el estudio de casos clínicos y las consultas de cada módulo.


El Máster de Oncología Médica es el itinerario formativo completo de la Certificación SEOM, con una duración máxima de tres cursos académicos, que está dirigido especialmente a residentes y especialistas jóvenes de Oncología Médica, pero también puede ser cursado por otros especialistas.


El máster se realiza en colaboración con e-oncología y cuenta con la acreditación universitaria de la Universitat de Girona. El máster está adaptado al Espacio Europeo de Educación Superior que incluye a todos los países adscritos al Plan Bolonia.</p>
</div>
