<br>
<h3>MÁSTER EN ONCOLOGÍA MÉDICA</h3>
<div class="tab-text">
<p>El Máster en Oncología Médica ofrece diversos módulos on-line sobre diferentes patologías o temas relacionados con la profesión. El programa desarrolla los aspectos esenciales y actualizados para la formación académica de la Oncología Médica, desde la epidemiología e investigación, hasta el diagnóstico y tratamiento de diferentes tipos de cáncer. Los alumnos adquieren conocimientos mediante el estudio de los materiales teóricos y la bibliografía asociada, casos clínicos y las consultas con el tutor de cada módulo. Los conocimientos se evalúan con la realización de exámenes de cada tema.</p>



</div>
