<h3>DIRECTORES DEL PROGRAMA:</h3>
<ul>
  <li>Dr. Ramon Colomer, <strong>Director del Máster en Oncología Médica.</strong></li>
  <li>Dr. F. Xavier Bosch,<strong> Director de e-oncología</strong></li>
  <li>Dra. Miguel Martín, <strong>Presidente de la SEOM</strong></li>
</ul>
<h3>COORDINADORES DEL PROGRAMA:</h3>
<ul>
  <li>Dr. Ramon Colomer <strong>Director del Máster en Oncología Médica.</strong> </li>
  <li>Dr. F. Xavier Bosch <strong>Director de e-oncología</strong></li>
  <li>Dra. Miguel Martín, <strong>Presidente de la SEOM
  </strong></li>
</ul>
<h3>CLAUSTRO DE PROFESORES</h3>
<div class="claustro">
  <div class="claustro-column">
    <ul>
      <li><b>Urgencias oncológicas </b></li>
      <li>César Rodríguez</li>
      <li>Lorena Bellido</li>
    </ul>


    <ul>
      <li><b>Biología molecular</b></li>
      <li><p>Joan Albanell</p></li>
    </ul>

    <ul>
     <li><b>Cuidados Continuos: tratamiento de soporte y cuidados paliativos</b></li>
     <li><p>Elvira del Barco</p></li>
   </ul>


   <ul>
    <li><b>Cáncer de mama </b></li>
      <li> Agustí Barnadas</li>
      <li>Encarna Adrover</li>
      <li>Marina Álvarez</li>
      <li>Lourdes Calvo</li>
      <li> Julia Camps</li>
      <li>Jorge Contreras</li>
      <li>Sofía Córdoba</li>
      <li>Manuel de las Heras</li>
      <li>Manuel Fraile</li>
      <li>José Antonio López GªAsenjo</li>
      <li>Mireia Margelí</li>
      <li>Belén Merck</li>
      <li>José Palacios</li>
      <li>Marina Pollán</li>
      <li>Beatriz Pérez</li>
      <li>Juan Salinas</li>
      <li>Melchor Sentís</li>
      <li>Teresa Ramón y Cajal</li>
      <li>Carlos Vázquez</li>
    </ul>

    <ul>
      <li><b>Estadística para Oncólogos</b></li>
      <li>Victor Moreno</li>
      <li>Margarita Garcia</li>
      <li>Valentí Navarro</li>
      <li>Maite Encuentra</li>
      <li>Mireia Díaz</li>
    </ul>

    <ul>
      <li><b>Epidemiología y Prevención</b></li>
      <li>Silvia de Sanjosé</li>
    </ul>

    <ul>
      <li><b>Farmacología Clínica Oncológica</b></li>
      <li>Antonio González</li>
      <li>Sara Encinas</li>
      <li>Raúl Márquez</li>
      <li>Esther Brechist</li>
      <li>Concha Fernandez</li>
      <li>Susana de la Cruz</li>
      <li>Parham Khosravi</li>
    </ul>
     <ul>
      <li> <b>Tumores ginecológicos</b></li>
      <li>Belén Ojeda</li>
      <li>Cristina Martín Lorente</li>
    </ul>

  </div>
  <div class="claustro-column">


    <ul>
      <li><b>Cáncer de próstata</b> </li>
      <li>Ramón Germa</li>
      <li>Antonio González</li>
      <li>Andrés García Palomo</li>
      <li>Xavier Maldonado</li>
      <li>Ferran Algaba</li>
      <li>Antonio González</li>
      <li>José Antonio Lorente</li>
      <li>Andrés García Palom</li>
      <li>Rafael Medina</li>
      <li>Almudena Zapatero</li>
    </ul>


    <ul>
      <li><b>Cáncer gastrointestinales </b></li>
      <li>Enrique Aranda</li>
      <li>Mª Auxiliadora Gómez España</li>
      <li>Gema Pulido Cortijo</li>
      <li>Ramón Salazar</li>
      <li>Álex Teulé</li>
      <li>Mariona Calvo Campos</li>
    </ul>

    <ul>
      <li><b>Cáncer de pulmón </b></li>
      <li>Dolores Isla</li>
      <li>José Luis González-Larriba</li>
      <li>José Manuel Trigo</li>
      <li>Pilar Garrido</li>
      <li>Enriqueta Felip</li>
      <li>Manuel Cobo</li>
      <li>Pilar Lianes</li>
      <li>Paula Cerdà Serdà</li>
      <li>Jordi Remón Masip</li>
    </ul>

    <ul>
      <li><b>Habilidades comunicativas y sociales</b></li>
      <li>Ramón Colomer</li>
    </ul>

    <ul>
      <li><b>Otros tumores Genitourinarios</b></li>
      <li>Joaquim Bellmunt</li>
      <li>Francesc Pons</li>
    </ul>
    <ul>
      <li><b>Melanoma </b></li>
      <li>Salvador Martín</li>
    </ul>



    <ul>
      <li><b>Tumores de cabeza y cuello </b></li>
      <li>Juan Jesús Cruz</li>
      <li>Elvira del Barco</li>
    </ul>

    <ul>
      <li><b>Tumores del SNC </b></li>
      <li>Carme Balañá</li>
      <li>Salvador Villà</li>
    </ul>

    <ul>
      <li>Sarcomas </li>
      <li>Xavier García del Muro</li>
    </ul>


    <ul>
      <li><b>Linfomas y Mieloma</b></li>
      <li>Mariano Provencio</li>
    </ul>

  </div>

</div>
