<br>
<h3>DIRECTORES DEL PROGRAMA:</h3>
<ul>
  <li>Dr. Ramon Colomer, <strong>Director del Máster en Oncología Médica.</strong></li>
  <li>Dr. F. Xavier Bosch,<strong> Director de e-oncología</strong></li>
  <li>Dra. Ruth Vera, <strong>Presidente de la SEOM</strong></li>
</ul>
<h3>COORDINADORES DEL PROGRAMA:</h3>
<ul>
  <li>Dr. Ramon Colomer <strong>Director del Máster en Oncología Médica.</strong> </li>
  </strong></li>
</ul>
<h3>CLAUSTRO DE PROFESORES</h3>
<div class="claustro">
  <div class="claustro-column">


    <ul>
      <li><b>Biología molecular</b></li>
      <li>Dr. Joan Albanell</li>
      <li>Dr. Ramon Colomer</li>
    </ul>

    <ul>
      <li><b>Cáncer de cabeza y cuello </b></li>
      <li>Dra. Elvira del Barco</li>
    </ul>

    <ul>
      <li><b>Cáncer de mama </b></li>
      <li>Dra. Mónica Antoñanzas </li>
      <li>Dr. Agusti Barnadas </li>
      <li>Dra. Ana Calín Lorca</li>
      <li>Dra. Maria Cebollero Presmanes</li>
      <li>Dra. Alicia de Luna Aguilar</li>
      <li>Dra. Isabel Echavarría Díaz-Guardamino</li>
      <li>Dr. Jose Ángel García Sáenz</li>
      <li>Dra. Sara López - Tarruella Cobo</li>
      <li>Dr. Iván Marquez Rodas</li>
      <li>Dr. Fernando Moreno Antón</li>
      <li>Dra. Natalia Vidal Casinello</li>

    </ul>

    <ul>
      <li><b>Cáncer de pulmón </b></li>
      <li>Dra. Paula Cerdà Serdà</li>
      <li>Dr. Manuel Cobo</li>
      <li>Dra. Enriqueta Felip</li>
      <li>Dra. Pilar Garrido</li>
      <li>Dr. José Luis González-Larriba</li>
      <li>Dra. Dolores Isla</li>
      <li>Dra. Pilar Lianes</li>
      <li>Dr. Jordi Remón Masip</li>
      <li>Dra. Rebeca Mondéjar</li>
      <li>Dr. José Manuel Trigo</li>
    </ul>

     <ul>
      <li><b> Cáncer de Tiroides </b></li>
      <li>Dra. Lara Iglesias </li>
      <li>Dra. María Blazquez</li>
    </ul>

    <ul>
      <li><b>Cáncer gastrointestinal </b></li>
      <li>Dr. Enrique Aranda</li>
      <li>Dra. Mariona Calvo</li>
      <li>Dra. Mª Auxiliadora Gómez</li>
      <li>Dr. Ferran Losa</li>
      <li>Dra. Rebeca Móndejar</li>
      <li>Dra. Gema Pulido </li>
      <li>Dr. Ramón Salazar</li>
      <li>Dr. Álex Teulé</li>
    </ul>


    <ul>
      <li><b>Cáncer Genitourinario</b></li>
      <li>Dr. Joaquim Bellmunt</li>
      <li>Dr. Francesc Pons</li>
      <li>Dr. Javier Puente</li>
    </ul>

     <ul>
      <li> <b>Cáncer ginecológico</b></li>
      <li>Dr. Alejandro Gallego,</li>
      <li>Dra. Cristina Martín Lorente</li>
      <li>Dra. Belén Ojeda</li>
      <li>Dr. Andrés Redondo</li>
    </ul>

    <ul>
      <li><b>Cáncer de próstata</b> </li>
      <li>Dr. Ramón Germa</li>
      <li>Dra. Nuria Romero-Laorden </li>
    </ul>

    <ul>
      <li><b>Consejo Genético en Cáncer </b></li>
      <li>Dr. Joan Brunet</li>
      <li>Dra. Begoña Graña</li>
      <li>Dr. Enrique Lastra</li>
      <li>Dra. Conxi Lázaro</li>
      <li>Dra. Berta Obispo</li>
      <li>Dra. Teresa Ramón y Cajal</li>
      <li>Dr. Álex Teulé</li>
    </ul>


 </div>
  <div class="claustro-column">

   <ul>
      <li><b>Cuidados Continuos: tratamiento de soporte y cuidados paliativos</b></li>
      <li>Dra. Elvira del Barco</li>
      <li>Dra. Rebeca Mondéjar</li>
    </ul>

    <ul>
      <li><b>Epidemiología y Prevención</b></li>
      <li>Dra. Silvia de Sanjosé</li>
      <li>Dra. Bea Serrano</li>
    </ul>


    <ul>
      <li><b>Estadística para Oncólogos</b></li>
      <li>Dra. Mireia Díaz</li>
      <li>Dra. Maite Encuentra</li>
      <li>Dra. Margarita Garcia</li>
      <li>Dr. Victor Moreno</li>
      <li>Dr. Valentí Navarro</li>
    </ul>

  <ul>
      <li><b>Enfermedad Tromboembólica Venosa </b></li>
      <li>Dra. Rebeca Mondejar</li>
      <li>Dr. Andrés Muñoz</li>
    </ul>

    <ul>

      <li><b>Farmacología Clínica Oncológica</b></li>
      <li>Dra. Esther Brechist</li>
      <li>Dra. Aitana Calvo</li>
      <li>Dra. Susana de la Cruz</li>
      <li>Dra. Sara Encinas</li>
      <li>Dra. Concha Fernandez</li>
      <li>Dr. Antonio González</li>
      <li>Dr. Raúl Márquez</li>
    </ul>

    <ul>
      <li><b>Habilidades comunicativas y sociales</b></li>
      <li>Dr. Ramón Colomer</li>
    </ul>


     <ul>
      <li><b>Inmunooncología </b></li>
      <li>Dr. Alfonso Berrocal</li>
      <li>DDr. Ramón Colomer</li>
      <li>Dra. Eloisa Jantus Lewintre</li>
    </ul>


  <ul>
      <li><b>Investigación Clínica </b></li>
      <li>Carmen Cuadra</li>
      <li>Cristina Feliu</li>
      <li>Sandra Fontanals</li>
      <li>Dr. Margarita García</li>
      <li>Dr. Valentín Navarro</li>
      <li>Dr. Xavier Pérez</li>
      <li>Dr. Ramón Salazar</li>
    </ul>

    <ul>
      <li><b>Linfomas y Mieloma</b></li>
      <li>Dr. Mariano Provencio</li>
      <li>Dr. Antonio Rueda</li>
    </ul>


    <ul>
      <li><b>Melanoma </b></li>
      <li>Dr. Salvador Martín</li>
      <li>Dra. Patricia Romano</li>
    </ul>

    <ul>
      <li>Sarcomas </li>
      <li>Dr. Xavier García del Muro</li>
      <li>Dra. Rebeca Mondéjar</li>
    </ul>

    <ul>
      <li><b>Tumores de Origen Desconocido</b></li>
      <li>Dr. Ramón Colomer</li>
      <li>Dra. Berta Obispo Portero</li>
    </ul>

    <ul>
      <li><b>Tumores Neuroendocrinos  </b></li>
      <li>Dr. Alberto Carmona</li>
    </ul>


    <ul>
      <li><b>Tumores del SNC </b></li>
      <li>Dra. Carme Balañá</li>
      <li>Dr. José Antonio Blanco</li>
      <li>Dr. Roberto García Leal</li>
      <li>Dr. Juan Adan Guzmán de Villoria</li>
      <li>Dr. Ivan Márquez</li>
      <li>Dra. Emma Sola</li>
    </ul>


    <ul>
      <li><b>Medicina Personalizada de Precisión</b></li>
      <li>Dr. Ramón Colomer</li>
      <li>Berta Hernández Marín</li>
      <li>Dra. Rebeca Mondéjar</li>
      <li>Dra. Nuria Romero-Laorden</li>
    </ul>

  </div>

</div>
