<h3>DIRECTORES DEL PROGRAMA:</h3>
 <ul>
    <li>Dr. Ramon Colomer, <strong>Director del Máster en Oncología Médica.</strong></li>
    <li>Dr. F. Xavier Bosch,<strong> Director de e-oncología</strong></li>
    <li>Dra. Miguel Martín, <strong>Presidente de la SEOM</strong></li>
  </ul>
<h3>COORDINADORES DEL PROGRAMA:</h3>
<ul>
  <li>Dr. Ramon Colomer <strong>Director del Máster en Oncología Médica.</strong> </li>
  <li>Dr. F. Xavier Bosch <strong>Director de e-oncología</strong></li>
  <li>Dra. Miguel Martín, <strong>Presidente de la SEOM
</strong></li>
</ul>
<h3>CLAUSTRO DE PROFESORES</h3>
<br>
<br>
<br>
