<br>
<h3>DIRECTORES DEL PROGRAMA:</h3>
<ul>
  <li>Dr. Ramon Colomer, <strong>Director del Máster en Oncología Médica.</strong></li>
  <li>Dr. F. Xavier Bosch,<strong> Director de e-oncología</strong></li>
  <li>Dra. Miguel Martín, <strong>Presidente de la SEOM</strong></li>
</ul>
<h3>COORDINADORES DEL PROGRAMA:</h3>
<ul>
  <li>Dr. Ramon Colomer <strong>Director del Máster en Oncología Médica.</strong> </li>
  <li>Dr. F. Xavier Bosch <strong>Director de e-oncología</strong></li>
  <li>Dra. Miguel Martín, <strong>Presidente de la SEOM
  </strong></li>
</ul>
<h3>CLAUSTRO DE PROFESORES</h3>
<div class="claustro">
  <div class="claustro-column">
    <ul>
      <li><b>Urgencias oncológicas </b></li>
      <li>Dr. César Rodríguez</li>
      <li>Lorena Bellido</li>
    </ul>


    <ul>
      <li><b>Biología molecular</b></li>
      <li>Dr. Joan Albanell</li>
    </ul>

    <ul>
     <li><b>Cuidados Continuos: tratamiento de soporte y cuidados paliativos</b></li>
     <li>Dra. Elvira del Barco</li>
   </ul>


   <ul>
    <li><b>Cáncer de mama </b></li>
      <li>Dr.  Agustí Barnadas</li>
      <li>Dra. Encarna Adrover</li>
      <li>Dra. Marina Álvarez</li>
      <li>Dra. Lourdes Calvo</li>
      <li>Dra. Julia Camps</li>
      <li>Dr. Jorge Contreras</li>
      <li>Dra. Sofía Córdoba</li>
      <li>Dr. Manuel de las Heras</li>
      <li>Dr. Manuel Fraile</li>
      <li>Dr. José Antonio López GªAsenjo</li>
      <li>Dra. Mireia Margelí</li>
      <li>Dra. Belén Merck</li>
      <li>Dr. José Palacios</li>
      <li>Dra. Marina Pollán</li>
      <li>Dra. Beatriz Pérez</li>
      <li>Dr. Juan Salinas</li>
      <li>Dr. Melchor Sentís</li>
      <li>Dra. Teresa Ramón y Cajal</li>
      <li>Dr. Carlos Vázquez</li>
    </ul>

    <ul>
      <li><b>Estadística para Oncólogos</b></li>
      <li>Dr. Victor Moreno</li>
      <li>Dra. Margarita Garcia</li>
      <li>Dr. Valentí Navarro</li>
      <li>Dra. Maite Encuentra</li>
      <li>Dra. Mireia Díaz</li>
    </ul>

    <ul>
      <li><b>Epidemiología y Prevención</b></li>
      <li>Dra. Silvia de Sanjosé</li>
    </ul>

    <ul>
      <li><b>Farmacología Clínica Oncológica</b></li>
      <li>Dr. Antonio González</li>
      <li>Dra. Sara Encinas</li>
      <li>Dr. Raúl Márquez</li>
      <li>Dra. Esther Brechist</li>
      <li>Dra. Concha Fernandez</li>
      <li>Dra. Susana de la Cruz</li>
      <li>Dr. Parham Khosravi</li>
    </ul>
     <ul>
      <li> <b>Tumores ginecológicos</b></li>
      <li>Dra. Belén Ojeda</li>
      <li>Dra. Cristina Martín Lorente</li>
    </ul>

  </div>
  <div class="claustro-column">


    <ul>
      <li><b>Cáncer de próstata</b> </li>
      <li>Dr. Ramón Germa</li>
      <li>Dr. Antonio González</li>
      <li>Dr. Andrés García Palomo</li>
      <li>Dr. Xavier Maldonado</li>
      <li>Dr. Ferran Algaba</li>
      <li>Dr. Antonio González</li>
      <li>Dr. José Antonio Lorente</li>
      <li>Dr. Andrés García Palom</li>
      <li>Dr. Rafael Medina</li>
      <li>Dra. Almudena Zapatero</li>
    </ul>


    <ul>
      <li><b>Cáncer gastrointestinales </b></li>
      <li>Dr. Enrique Aranda</li>
      <li>Dra. Mª Auxiliadora Gómez España</li>
      <li>Dra. Gema Pulido Cortijo</li>
      <li>Dr. Ramón Salazar</li>
      <li>Dr. Álex Teulé</li>
      <li>Dra. Mariona Calvo Campos</li>
    </ul>

    <ul>
      <li><b>Cáncer de pulmón </b></li>
      <li>Dra. Dolores Isla</li>
      <li>Dr. José Luis González-Larriba</li>
      <li>Dr. José Manuel Trigo</li>
      <li>Dra. Pilar Garrido</li>
      <li>Dra. Enriqueta Felip</li>
      <li>Dr. Manuel Cobo</li>
      <li>Dra. Pilar Lianes</li>
      <li>Dra. Paula Cerdà Serdà</li>
      <li>Dr. Jordi Remón Masip</li>
    </ul>

    <ul>
      <li><b>Habilidades comunicativas y sociales</b></li>
      <li>Dr. Ramón Colomer</li>
    </ul>

    <ul>
      <li><b>Otros tumores Genitourinarios</b></li>
      <li>Dr. Joaquim Bellmunt</li>
      <li>Dr. Francesc Pons</li>
    </ul>
    <ul>
      <li><b>Melanoma </b></li>
      <li>Dr. Salvador Martín</li>
    </ul>



    <ul>
      <li><b>Tumores de cabeza y cuello </b></li>
      <li>Dr. Juan Jesús Cruz</li>
      <li>Dra. Elvira del Barco</li>
    </ul>

    <ul>
      <li><b>Tumores del SNC </b></li>
      <li>Dra. Carme Balañá</li>
      <li>Dr. Salvador Villà</li>
    </ul>

    <ul>
      <li>Sarcomas </li>
      <li>Dr. Xavier García del Muro</li>
    </ul>


    <ul>
      <li><b>Linfomas y Mieloma</b></li>
      <li>Dr. Mariano Provencio</li>
    </ul>

  </div>

</div>
