<br>
<h3>25 CURSOS MODULARES Y CASOS PRÁCTICOS</h3>
<div class="tab-text"><p>El programa consta de 25 cursos modulares que abarcan desde los temas más generales de la oncología hasta una revisión actualizada de cada una de las localizaciones tumorales:</p>

<p>Para la obtención del título de Máster es necesario completar el material teórico de los 25 cursos modulares y los casos prácticos, obteniendo una calificación como mínimo de 70 sobre 100 en cada uno de los módulos y además presentar un trabajo final (150 horas – 6 créditos ECTS).</p>
</div>

<h3>PLAN DE ESTUDIOS</h3>
<div class="lista-cursos tab-text">
  <%data.courses.each do |curso|%>
    <div class="curso-margin">
    <%= link_to curso[1].first[1].titulo , "/#{curso[0]}.html" , class: " lista " %>
    </div>
  <% end %>
</div>
