<br>
<h3>25 CURSOS MODULARES Y CASOS PRÁCTICOS</h3>
<div class="tab-text"><p>El programa consta de 25 cursos modulares que abarcan desde los temas más generales de la oncología hasta una revisión actualizada de cada una de las localizaciones tumorales:</p>

<p>Para la obtención del título de Máster es necesario completar el material teórico de los 25 cursos modulares y los casos prácticos, obteniendo una calificación como mínimo de 70 sobre 100 en cada uno de los módulos y además presentar un trabajo final (150 horas – 6 créditos ECTS).</p>

<p>En el supuesto que durante los cursos académicos en los que esté matriculado, el alumno haya publicado un trabajo original (aunque esté en prensa) o una revisión científica con un impacto acumulativo de 6 como primero o segundo autor firmante, este trabajo se considerará equivalente al trabajo final. Asimismo se podrá convalidar el trabajo de fin de Máster con la asistencia a reconocidos congresos de Oncología Médica, de ámbito nacional o internacional, previa autorización de la Sociedad Española de Oncología Médica. Por ejemplo, asistencia a los Congresos Anuales de SEOM (con un máximo de 20 horas), ESMO y ASCO (con un máximo de 40 horas cada uno) u otros internacionales de reconocido prestigio como San Antonio Breast Cancer Symposium, el Internacional de Pulmón o de Gastrointestinal (con un máximo de 40 horas cada uno).</p>x

<p>En caso de que el alumno realice un presentación oral en cualquiera de estos congresos se añadiría un 75% más de las horas de la duración del congreso. Y en el caso de presentar un póster, se añadiría un 50% más de horas de la duración del congreso. En este supuesto habría que acreditar la asistencia o comunicación presentada a estos congresos y que sean en los años matriculados en el Máster.

</p>
</div>

<h3>PLAN DE ESTUDIOS</h3>
<div class="lista-cursos tab-text">
  <%data.courses.each do |curso|%>
    <div class="curso-margin">
    <%= link_to curso[1].first[1].titulo , "/#{curso[0]}.html" , class: " lista " %>
    </div>
  <% end %>
</div>
