<br>
<h3>25 CURSOS MODULARES Y CASOS PRÁCTICOS</h3>
<div class="tab-text"><p>El Máster tiene 1.500 horas formativas (60 créditos ECTS). Para completar el Máster, es necesario:
</p>

<ol>
  <li>Superar los exámenes de los 25 cursos incluidos al programa formativo (1350 horas - 54 ECTS), y </li>
  <li>Presentar un Trabajo de Fin de Máster (TFM, 150 horas – 6 créditos ECTS), dirigido bien por uno de los profesores del Máster o bien un Oncólogo con doctorado que proponga el estudiante.  </li>
</ol>

<p>El TFM podrá convalidarse por la publicación como primer o segundo autor firmante en revistas indexadas de artículos originales o revisiones científicas con un impacto acumulativo de más de 10, o por la asistencia certificada a una lista restringida de congresos de Oncología Médica reconocidos explícitamente por el Máster para este fin y publicados en el Aula Virtual. Esto incluye únicamente los congresos anuales de SEOM, ESMO y ASCO, o el San Antonio Breast Cancer Symposium, el Mundial de Pulmón o el mundial Gastrointestinal. Todo ello en los años matriculados en el Máster.
</p>

<p>Las horas de asistencia deberán acreditarse y en ninguno de los casos se considerarán más de 40 horas en cada congreso individual.
</p>

<p>En el caso de que el alumno realice una presentación oral en cualquiera de estos congresos se añadiría un 75% más de las horas de la duración del congreso.
</p>

<p>Y en el caso de presentar un póster, se añadirá un 50% más de horas de la duración del congreso. En este supuesto deben acreditarse la comunicación presentada a estos Congresos.
</p>

</div>

<h3>PLAN DE ESTUDIOS</h3>
<div class="lista-cursos tab-text">
  <%data.courses.each do |curso|%>
    <div class="curso-margin">
    <%= link_to curso[1].first[1].titulo , "/#{curso[0]}.html" , class: " lista " %>
    </div>
  <% end %>
</div>
