<br>
<h3>25 CURSOS MODULARES Y CASOS PRÁCTICOS</h3>
<div class="tab-text"><p>El Máster tiene 1.500 horas formativas (60 créditos ECTS). Para completar el Máster, es necesario:
</p>

<ol>
  <li>Superar los exámenes y los casos prácticos de los 26 módulos incluidos en el programa formativo (1350 horas - 54 ECTS), y</li>
  <li>Presentar un Trabajo de Fin de Máster (TFM, 150 horas – 6 créditos ECTS), dirigido bien por uno de los profesores del Máster o bien un Oncólogo con doctorado que proponga el estudiante.  </li>
</ol>
</div>

<h3>PLAN DE ESTUDIOS</h3>
<div class="lista-cursos tab-text">
  <%cursos_ordenados = ['biologiamolecular',
    'epidemiologia-y-prevencion',
    'estadisticas-oncologos',
    'farmacologia-clinica-oncologica',
    'consejo-genetico-en-cancer',
    'medicina-personalizada-precision',
    'inmunooncologia',
    'investigacion-clinica-en-oncologia',
    'cancer-de-pulmon',
    'cancer-gastrointestinal',
    'cancer-de-mama',
    'tumores-ginecologicos',
    'cancer-prostata',
    'tumores-genito-urinarios',
    'cabeza-y-cuello',
    'cancer-de-tiroides',
    'tumores-neuroendocrinos',
    'sarcoma',
    'linfomas-y-mieloma',
    'melanoma',
    'tumores-snc',
    'tumores-de-origen-desconocido',
    'cuidados-continuos',
    'etv',
    'urgencias-en-oncologia',
    'habilidades-comunicativas'] %>

  <% cursos_ordenados.each do |curso_ordenado| %>
    <div class="curso-margin">
      <%= link_to data.courses[curso_ordenado].first[1].titulo , "/#{data.courses[curso_ordenado].first[1].slug}.html" , class: " lista " %>
    </div>
  <% end %>
</div>
