<br>
<h3>25 CURSOS MODULARES Y CASOS PRÁCTICOS</h3>
<div class="tab-text"><p>El Máster tiene 1.500 horas formativas (60 créditos ECTS). Para completar el Máster, es necesario:
</p>

<ol>
  <li>Superar los exámenes y los casos prácticos de los 26 módulos incluidos en el programa formativo (1350 horas - 54 ECTS), y</li>
  <li>Presentar un Trabajo de Fin de Máster (TFM, 150 horas – 6 créditos ECTS), dirigido bien por uno de los profesores del Máster o bien un Oncólogo con doctorado que proponga el estudiante.  </li>
</ol>
</div>

<h3>PLAN DE ESTUDIOS</h3>
<div class="lista-cursos tab-text">
  <%data.courses.each do |curso|%>
    <div class="curso-margin">
    <%= link_to curso[1].first[1].titulo , "/#{curso[0]}.html" , class: " lista " %>
    </div>
  <% end %>
</div>
