.basic-template {

  background-color: $light-gray;
   text-align: center;
   margin-top: 4px;

  h1{
    font-weight: 300;
    font-size: 28px;
    color: $green;
  }

  h2{
    font-size: 20px;
    color: black;
  }

  h4{
    font-size: 18px;
    color: $green;
  }
  p {

    color: black;
    font-weight: 100;
    font-size: 12px;
  }
  a{
    text-decoration: none;
  }
  .titles{
  height: 250px;
  padding: 25px 50px;
  }
  .boxes{
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  height: 280px;

  }
}


.seom-container{


  max-width: 850px;
  margin: 0 auto;

}

.index-box{
  background-color: white;
  padding: 10px 30px;
  width: 300px;
  border-radius: 5px;
  box-shadow: 1 1 1 1;
  height: 350px;
   h2{
    padding-bottom: 22px;
  }
  h4{
    padding-bottom: 15px;
  }
  p{
    padding-bottom: 15px;
  }

}


@media (max-width: 800px) {
  .seom-container{
     width: 80%;
  }
  .basic-template{
    h1{
      font-size: 18px;
    }

    .boxes{
      display: block;
      height: auto;

    }
    .seom-container{

      width: 95%;

    }
    .index-box{
      margin: 0 auto 20px auto;
    }
    .titles{
      height: auto;
      padding: 25px 50px;
  }
  }
}
