// lado derecho (el lado izdo está en tabs)

.master-right{

  p, li{
    margin: 10px 25px 10px 12px;
    text-align: left;
    color: black;
    font-size: 12px;
    font-weight: 100;
  }
}

.tall, .short{
  border-radius: 4px;
  box-shadow: 1px 1px 2px 0 rgba(22,153,152,0.51);
   background-color: white;
   margin-bottom: 15px;
}
.tall{
padding-top:15px;
}
.short{

  padding: 25px 15px 25px 25px;
}

.curso-margin{
  height: auto;
  min-height: 20px;
  margin-bottom: 10px;
}

// pequeño

@media (max-width: 800px) {
.master-right {
    margin-left: 0;
    position: auto;

  }
}

.claustro{
  white-space: normal;
  display: block;
  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
  }
}

.claustro-column{
  width:90%;
}
// grande


@media (min-width: 800px) {
.master-right {
  flex: 0 0 300px;
  width: 300px;
  margin-left: 20px;
  }





.claustro{
  white-space: normal;
  display: flex;
  justify-content: space-between;
  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
  }
}

.claustro-column{
  width:45%;
}
}
