.muestra{
  display:flex;
  padding-top:60px;
  white-space: normal;
}

// lado izquierdo
.show-left,  .show-down{
  .title-show{


    h2{
      font-weight: 300;
      color: $green;
      margin-top:10px;

    }
    h3{
      font-weight: 100;
      color: $green;
      margin-top:20px;
    }
  }

}

.reducido{
  height: 50px;
  overflow: hidden;
}

.expandido{
  height: auto;
  overflow: auto;
}
.caja{
  margin: 10px, 0;
  background-color:white;
  text-align: left;
  padding: 8px 30px;
  background-color: white;
  text-align: left;
  border-radius: 4px;
  box-shadow: 1px 1px 2px 0 rgba(153,153,153,0.51);


  li{
    color: black;
    font-weight: 100;
    font-size: 12px;
    margin: 30px;
  }
  h5{
    color: $green;
    font-size: 14px;
    font-weight: 300;
  }
  p{
    margin: 30px;

  }
}

// lado derecho

#show-right{
 background-color: white;
 p{
  margin: 25px;
  text-align: left;
  }
}

.imagen-curso-frame{
  overflow:hidden;
  height: 180px;
  width: 270px;
  margin: 30px auto;
  border-radius: 4px;
}
.imagen-curso{
  width: 270px;
  height: auto;
}




// pequeño

@media (max-width: 800px) {
  .show-left{
    display: none;
  }

  #show-right{
    margin-left: 0;
    position: auto;
    height: 500px;


  }
  .muestra{
    display: block;
  }
  .caja{
    margin-top: 10px;
    margin-left: 0;
    margin-bottom: 10px;
    margin-right:0;
    h3{
      color: $green !important;
      font-family: "Montserrat";
      font-weight: 300;
      font-size: 16px;

    }
  }
  .title-show{
    h2, h3{
      text-align: center;
    }
    h2{
      font-size: 18px;
    }
    h3{
      font-size: 14px;
    }
  }


}

// grande

@media (min-width: 800px) {
  .show-down{
    display: none;
  }
  .title-show{
    h2, h3{
      text-align: left;
    }
    h2{
      font-size: 28px;
    }
    h3{
      font-size: 18px;
    }
  }
  #show-right{
    flex: 0 0 300px;
    width: 300px;
    margin-left: 20px;
    height: 490px;
    position: sticky !important;
    top: 0;

  }
  .caja{
   margin-right: 10px;
   margin-bottom: 20px;
 }


}


