.muestra{
  display:flex;
  padding-top:60px;
  white-space: normal;
}
.show-left{
  .title-show{
  text-align: left;

  h2{
    font-size: 28px;
    text-align: left;
    font-weight: 300;
    color: $green;
    margin-top:10px;

  }
}

}

#show-right{
  flex: 0 0 300px;
  width: 300px;
  position: sticky !important;
  top: 0;
  margin-left: 20px;
  height: 500px;
  background-color: white;
  p{
    margin: 25px;
  }

}


.imagen-curso{
  margin: 15px;
}

.reducido{
  height: 50px;
  overflow: hidden;
}

.expandido{
  height: auto;
  overflow: auto;
}
.caja{
  margin-top: 100px;
  margin-right: 10px;
  background-color:white;
  text-align: left;
  padding: 8px 30px;
  background-color: white;
  margin: 10px;
  text-align: left;
  border-radius: 4px;
  box-shadow: 1px 1px 2px 0 rgba(153,153,153,0.51);


  li{
    color: black;
    font-weight: 100;
    font-size: 12px;
    margin: 30px;
  }
  h5{
    color: $green;
    font-size: 14px;
    font-weight: 300;
  }
  p{
    margin: 30px;

  }
}
