.cards{

}

.curso-title{
  height: 20%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  h3{
    text-align:center;
  }
  h3:hover{
    color: red;
  }
}

.curso-text{
    left: 0;
    top: 120px;
    height: 30%;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.curso-cta{

    left: 0;
    top: 210px;
    width: 80%;
  margin: 15px auto;
}

.card-space{
  height: 460px;
  border: 1px solid #EFF8F8;
}
.curso-card{
  height: 420px;
  width: 270px;
  padding: 15px;
  background-color: white;
  margin: 10px;
  border-radius: 4px;
  box-shadow: 1px 1px 2px 0 rgba(153,153,153,0.51);
  text-align: center;
}

.curso-card:hover{
  box-shadow: 2px 2px 2px 0 rgba(153,153,153,0.80);
  width: 271px;
  height: 421px;
}

.imagen-card-frame{
  overflow:hidden;
  height: 165px;
  width: 230px;
  margin: 5px auto;
  border-radius: 4px;
}
.imagen-card{
  width: 230px;
  height: auto;

}

.especialistas{
  width:100%;
  h3{
    color: $green !important;
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 22px;
  };
    .titulos-lista{ font-family: "Montserrat";
      color: black;
      font-weight: 300;
      font-size: 15px;
      letter-spacing: -1px;
    };
  .titulos-lista:hover{
      text-decoration:none;
      font-weight: 300;
      letter-spacing: -1px;
    };
  .tabs{
    margin-top:20px;
  }
  .tab{
  width: 120px;
  padding: 10px 5px;
  background-color: white;
  color: $green;
  font-size: 10px;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: 1px 1px 2px 0 rgba(22,153,152,0.51);
  }
  .tabs .active {
  background-color: $darkgreen;
  color: white;
  }
}


.descriptivos{
  display:none;
}
