.footer-seom{
  background-color: $darkgreen;
  height: 200px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 80px;
}


.footer1image{
  height: 70px;
}

.footer2image{
  height: 40px;
}

.footer-line{
  margin: 0 auto;
  width: 80%;
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  p{
    color: white;
    font-size: 14px;
    font-weight: 300;
  }
  a{
    color: white;
    font-size: 14px;
    font-weight: 300;
  }
}

@media (max-width: 800px) {
  .footer-seom{
    display: block;
    height: auto;
    padding-top: 10px;
    p, a{
      font-size: 10px;
      font-weight: 100;
      margin-bottom: 5px;

    }
  }
  .footer-line{
    display: block;
  }
  .footer1image{
  height: 40px;
}

.footer2image{
  height: 25px;
}
.logoline{
  display: none;
}
}
