/* Main navbar */
.navbarseom{
   height: 80px;
   background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
   padding: 30px 5%;
   border-bottom: 1px solid $green;
   box-shadow: 1px 1px 2px 0 rgba(22,153,152,0.51);
}

// .navbar-right{
//   text-align: right;
// }
// .navbar-left{
//   text-align: left;
// }

.navbar1image{
  margin: 0 15px;
  height: 40px;
}

.navbarxsimage{
  margin: 0 15px;
  height: 23px;
}

@media (min-width: 720px) {
  .navbarxs{
    display:none;
    width: 100vh;
  }
}

@media (max-width: 720px) {
  .navbarsm{
    display:none;
    width: 100vh;
  }
}
