.tabs{
  display: flex;
  justify-content: space-between;
   a:hover{
      text-decoration:none !important;
      font-weight: 400!important;


    }
}

.tab{
  min-width: 120px;
  padding: 10px 7px;
  background-color: white;
  color: $green;
  font-size: 11px;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: 1px 1px 2px 0 rgba(22,153,152,0.51);
  white-space: nowrap;


}
.tab:hover{
   box-shadow: 2px 2px 2px 0 rgba(22,153,153,0.80);
  }

.fade {
    opacity: 0;
    -webkit-transition: opacity 800ms linear;
    transition: opacity 800ms linear;
}


.tabs .active {
  background-color: $darkgreen;
  color: white;
}

.tab-content{
  height: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 0 70px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 1px 1px 2px 0 rgba(22,153,152,0.51);
  text-align: justify;
  h3 {
  color: $green !important;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 22px;
  text-align: left;
  }

  li{
    color: black;
    font-weight: 100;
    font-size: 12px;
  }
}

.tab-text{
  margin-left: 14%;
}
.centered{
  width:100%;
  text-align: center;
  margin: 50px auto;
  vertical-align: middle;

}

#objetivos{
  height: auto;
}

.lista-cursos{
  text-align: left;
  a{ font-family: "Montserrat";
      color: $green !important;
      font-weight: 300;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: -1px;
      margin-bottom: 10px;

    }
  a:hover{
      text-decoration:none;
      font-weight: 500;
      letter-spacing: -1px;
    }
}



