.tabs{
  display: flex;
  justify-content: space-between;
}

.tab{
  width: 140px;
  padding: 10px;
  background-color: white;
  color: $green;
  font-size: 11px;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: 1px 1px 2px 0 rgba(22,153,152,0.51);
}

.tab.active{
  background-color: $darkgreen;
  color: white;
}
.tab-content{
  margin-top: 25px;
  padding: 0 70px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 1px 1px 2px 0 rgba(22,153,152,0.51);
  white-space: pre-line;
  text-align: justify;
  h3 {
  color: $green !important;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 22px;
  }

  li{
    color: black;
    font-weight: 100;
    font-size: 11px;
  }
}
.tab-text{
  margin-left: 14%;
}
.centered{
  width:100%;
  text-align: center;
  margin-top: -80px;

}

.lista-cursos{
  a{ font-family: "Montserrat";
      color: $green !important;
      font-weight: 100;
      font-size: 15px;
      line-height: 30px;
      letter-spacing: -1px;
    }
  a:hover{
      text-decoration:none;
      font-weight: 300;
      line-height: 30px;
      letter-spacing: -1px;
    }
}
#presentacion{
  margin-top: 50px;
}
#programa{
  margin-top: -26px;
}

#calendario{
  margin-top: -80px;
}
#profesores{
  margin-top: -50px;
   white-space: normal;
}

.claustro{
  white-space: normal;
  display: flex;
  justify-content: space-between;
  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.claustro-column{
  width:45%;
}

.list-no-deco{
    li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    white-space: normal;
  }
}
